In [1]:
#14.WORK WITH FOLLOWING FUNCTIONS IN SERIES AND DATA FRAME
import pandas as pd
data={"Name":['Alice','Bob','Charlie','David','Eve'],'Age':[25,30,35,40,28],'Salary':[50000,60000,55000,70000,62000],'Allowances':[2000,2000,2000,2000,2500]}
df=pd.DataFrame(data)
print("Actual data frame:\n",df)
print("Sorted salary:\n",df.sort_values('Salary',ascending=True))
print("Sorting Multiple columns:\n",df.sort_values(['Age','Salary']))
print("Setting cloumn as index:\n",df.set_index('Age'))
print("Data frame after reset of index:\n",df.reset_index())

Actual data frame:
       Name  Age  Salary  Allowances
0    Alice   25   50000        2000
1      Bob   30   60000        2000
2  Charlie   35   55000        2000
3    David   40   70000        2000
4      Eve   28   62000        2500
Sorted salary:
       Name  Age  Salary  Allowances
0    Alice   25   50000        2000
2  Charlie   35   55000        2000
1      Bob   30   60000        2000
4      Eve   28   62000        2500
3    David   40   70000        2000
Sorting Multiple columns:
       Name  Age  Salary  Allowances
0    Alice   25   50000        2000
4      Eve   28   62000        2500
1      Bob   30   60000        2000
2  Charlie   35   55000        2000
3    David   40   70000        2000
Setting cloumn as index:
         Name  Salary  Allowances
Age
25     Alice   50000        2000
30       Bob   60000        2000
35   Charlie   55000        2000
40     David   70000        2000
28       Eve   62000        2500
Data frame after reset of index:
    index     Name  Age  Salary  Allowances
0      0    Alice   25   50000        2000
1      1      Bob   30   60000        2000
2      2  Charlie   35   55000        2000
3      3    David   40   70000        2000
4      4      Eve   28   62000        2500